@font-face {
  font-family: gothamBold;
  src: url(Gotham-Bold.otf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: white;
  height: 100vh;
  color: rgb(20, 19, 19);
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
}

.most-played {
  margin-top: 80px;
}

.header-text {
  font-family: "gothamBold";
  font-size: 5em;
  text-align: center;
  margin-top: 30px;
}

.background-text {
  position: absolute;
  left: 0px;
  top: 100px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  white-space: nowrap;
  user-select: none;
  font-size: 5em;
  opacity: 0.1;
}

.btn {
  position: relative;
}

.timeBtn {
  background-color: white;
  border-color: black;
  padding: 5px 20px;
  margin: 5px 5px;
}
.timeBtn:hover {
  background-color: black;
  color: white;
  transition: all 0.3s;
  font-size: 1.1em;
}
.timeBtn:active {
  background: rgb(138, 138, 138);
}

.timeBtn:focus {
  background: rgb(138, 138, 138);
}

.cards {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
  justify-content: center;
}

.card {
  border-radius: 15px;
  cursor: pointer;
  background-color: transparent;
  height: 200px;
  perspective: 1000px;
  box-shadow: 0px 10px 20px #aaaaaa;
  margin-top: 10px;
}

.card h1 {
  font-size: 18px;
  font-family: "gothamBold";
  border-bottom: 1px #fff solid;
  margin-top: 10px;
  text-align: center;
}

.card-img {
  border-radius: 15px;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  border-radius: 15px;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.card-back {
  background-color: black;
  color: white;
  padding: 20px;
  transform: rotateY(180deg);
  align-content: center;
  justify-content: center;
}

.card li {
  list-style: none;
  padding-bottom: 10px;
}

@media (max-width: 1024px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .header-text {
    font-size: 2em;
  }
  .background-text {
    display: none;
  }
  .timeBtn {
    padding: 5px 10px;
    margin: 5px 5px;
  }
}
